<header>
    <h1>2. Nacht der Druiden</h1>
</header>

<div id="content">
    <div class="textblock">
        <p>Am 17. September 2011</p>
        <p>Zwischen den Drumlins von Hinwil (<span class="clickable">Lageplan</span>)</p>
        <p>Ab 15 Uhr bis Sonnenuntergang</p>
    </div>
    
    <div class="textblock">
        <p>Magische Stimmung mit keltischer Musik, Getränke und Fleisch sind vorhanden (auch Grill, Getränke, Becher, Teller, etc.).</p>
        <p>Um Beiträge zur Ergänzung bin ich dankbar. Bitte bei der Anmeldung angeben</p>
    </div>  
    
    <div class="textblock">        
        <p>Anmeldung für eingeladene Gäste per E-Mail (<a href="mailto:marcoegli@gmx.ch">marcoegli@gmx.ch</a>) bis Ende August</p>
    </div>     
</div>    

<footer>
</footer>