<header>
    <div class="printonly"><img src="app.<%= app_version %>/<%= app_name %>/images/shamrock-print.jpg"></div> 
    <h1>2. Nacht der Druiden</h1>
</header>

<div id="content">
    <div class="textblock">
        <p>Am 17. September 2011</p>
        <p>Zwischen den Drumlins von Hinwil <span class="screenonly">(<a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=47.299643,8.818452&hl=de&geocode=&mra=mift&mrsp=1&sz=15&sll=47.299664,8.818331&sspn=0.019208,0.052314&ie=UTF8&t=h&z=15" target="_blank">Lageplan</a>)</span></p>
        <p>Bei jedem Wetter ab 15 Uhr bis Sonnenuntergang</p>
    </div>

    <div class="printonly textblock"><img src="app.<%= app_version %>/<%= app_name %>/images/lageplan.jpg"></div> 

    <div class="textblock">
        <p>Magische Stimmung mit keltischer Musik, Getränke und Fleisch sind vorhanden (auch Grill, Getränke, Becher, Teller, etc.).</p>
        <p>Um Beiträge zur Ergänzung bin ich dankbar (ansonsten keine Geschenke bitte). Bitte bei der Anmeldung angeben.</p>
    </div>  

    <div class="textblock">        
        <p>Anmeldung mit Anzahl der Personen <span class="screenonly">für eingeladene Gäste</span> per E-Mail an <a href="mailto:marcoegli@gmx.ch">marcoegli@gmx.ch</a> bis Ende August 2011.</p>
    </div>    
    
    <div class="textblock screenonly">        
        <p>Ich freue mich, zum Sommerende endlich, die schon im vergangenen Jahr geplante Party zu feiern.</p>
    </div>  
    
    <div class="textblock screenonly">        
        <p><br></p>
    </div>     
</div>    

<footer></footer>