<header>
    <div class="printonly"><img src="app.<%= app_version %>/<%= app_name %>/images/shamrock-print.jpg"></div> 
    <h1>2. Nacht der Druiden</h1>
    <p>17. September 2011</p>
</header>

<div id="content">
    <div class="textblock">
        <p>Bei jedem Wetter ab 15.30 Uhr bis Sonnenuntergang zwischen den Drumlins von Hinwil</p>
    </div>

    <div class="textblock">
        <img src="app.<%= app_version %>/<%= app_name %>/images/lageplan.jpg" width="100%">
        <p class="screenonly small"><a href="http://maps.google.ch/maps?f=d&source=s_d&saddr=&daddr=47.294733,8.822953&hl=de&geocode=&mra=mift&mrsp=1&sz=17&sll=47.29385,8.822891&sspn=0.006447,0.016512&ie=UTF8&t=h&z=17" target="_blank">Ort des Parkplatzes</a> für die Routenplanung mit dem Auto (Achtung: Fahrverbot auf dem Pilgerweg aus Bossikon. Über Gossauerstrasse anfahren.)</p>
    </div> 

    <div class="textblock">
        <p>Magische Stimmung mit keltischer Musik, Getränke und Fleisch sind vorhanden (auch Grill, Getränke, Becher, Teller, etc.). Um Beiträge zur Ergänzung bin ich dankbar (ansonsten keine Geschenke bitte). Bitte bei der Anmeldung angeben.</p>
    </div>  

    <div class="textblock screenonly">
        <object width="570" height="40"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=23503186&style=grass&p=0" /><embed src="http://grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="570" height="40" flashvars="hostname=cowbell.grooveshark.com&songIDs=23503186&style=grass&p=0" allowScriptAccess="always" wmode="window" /></object>
    </div>

    <div class="textblock">        
        <p>Anmeldung mit Anzahl der Personen <span class="screenonly">für eingeladene Gäste</span> per E-Mail an <a href="mailto:marcoegli@gmx.ch">marcoegli@gmx.ch</a> bis Ende August 2011.</p>
    </div>    

    <div class="textblock screenonly">        
        <p>Ich freue mich, zum Sommerende endlich, die schon im vergangenen Jahr geplante Party zu feiern.</p>
    </div>  

    <div class="textblock screenonly">        
        <p><br></p>
    </div>     
</div>    

<footer></footer>

