<header>
    <h1 id="applicationTitle">eglinetwork</h1>
</header>

<div id="tabview">
    <ul>
        <li><a href="#tabHome">Home</a></li>
        <li><a href="#tabAbout">About me</a></li>
    </ul>
    <div>
        <div id="tabHome">
            <article>
                <h1>Personal Projects</h1>
                <div class="banner blue">Play <a href="pairs">Photo Pairs</a> with beautiful pictures from Flickr</div>
                <div class="banner blue">Play the first <a href="http://www.infinitecrossword.net/" target="_blank">Infinite Crossword</a> in the world</div>
                <div class="banner blue">Visit the most entertaining <a href="http://www.turnshow.ch/" target="_blank">Turnshow</a> in Switzerland</div>
            </article>
        </div>
        <div id="tabAbout">
            <article>
                <h1>About me</h1>
                <p>My name is Marco Egli and this is my personal website. A few things about me:</p>
                <ul>
                    <li>I am a senior consultant at <a href="http://www.intelliact.ch/" target="_blank">Intelliact</a> - the major market independent PLM consultancy in Switzerland</li>
                    <li>I am the co-founder and lead developer of <a href="http://www.elstr.com/" target="_blank">Elstr</a>, a methodology and framework to build fast and scalable enterprise mashup web applications</li>
                    <li>You can find me on <a href="http://www.xing.com/profile/Marco_Egli" target="_blank">Xing</a> or follow <a href="http://twitter.com/marcoegli" target="_blank">@marcoegli</a> on Twitter</li>
                    <li>I live in the greater area of <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Zurich,+Switzerland&sll=37.0625,-95.677068&sspn=40.86791,107.138672&ie=UTF8&hq=&hnear=Z%C3%BCrich+District,+Z%C3%BCrich,+Canton+of+Z%C3%BCrich,+Switzerland&z=12" target="_blank">Zürich, Switzerland</a></li>
                    <li>I like programming. You can check out some of my <a href="https://github.com/eglinetwork/" target="_blank">code and projects</a>.</li>
                    <li>And sometimes I create <a href="http://www.slideshare.net/marcouser" target="_blank">slides</a></li>
                </ul>                
            </article>
        </div>
    </div>
</div>    

<footer>
</footer>