<div id="tabview">
    <ul>
        <li><a href="#tabHome">Home</a></li>
        <li><a href="#tabAbout">About me</a></li>
    </ul>
    <div>
        <div id="tabHome">
            <h1>Personal Projects</h1>
            <div>
                <ul>
                    <li>Play <a href="pairs">Pairs</a> with beautiful photos</li>
                    <li>Play the first <a href="http://www.infinitecrossword.net/">Infinite Crossword</a> in the world</li>
                </ul>
            </div>
            <div id="requestButton">Async Request</div>
            <div id="responseContainer"></div>
        </div>
        <div id="tabAbout">
            <h1>About me</h1>
            <p>My name is Marco Egli and this is my personal website.</p>
            <p>A few things about me:</p>
            <ul>
                <li>I am the co-founder of <a href="http://www.elstr.com">Elstr</a>, a web2.0 framework for enterprise mashups</li>
                <li>You can find me on <a href="http://www.xing.com/profile/Marco_Egli">Xing</a></li>
                <li>I live in the greater area of <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Zurich,+Switzerland&sll=37.0625,-95.677068&sspn=40.86791,107.138672&ie=UTF8&hq=&hnear=Z%C3%BCrich+District,+Z%C3%BCrich,+Canton+of+Z%C3%BCrich,+Switzerland&z=12">Zürich, Switzerland</a></li>
                <li>I like programming. You can check out some of my <a href="https://github.com/eglinetwork/">code and projects</a>.</li>
                <li>And sometimes I create <a href="http://www.slideshare.net/marcouser">slides</a>.</li>
            </ul>
        </div>
    </div>
</div>    
