<div id="tabview">
    <ul>
        <li><a href="#tabSettings">Settings</a></li>
        <li><a href="#tabTable">Table</a></li>
        <li><a href="#tabPhotos">Photos</a></li>
    </ul>
    <div>
        <div id="tabSettings">

            <div>
                Theme
                <input id="inputTheme">
            </div>
            <div>
                Cards
                <input id="inputCardsLength">
                (16 - 40)
            </div>


        </div>
        <div id="tabTable">
            <div id="cardTable">
            </div>
        </div>
        <div id="tabPhotos">
            <ul>
                
            </ul>
        </div>
    </div>
</div>