<div id="tabview">
    <ul>
        <li><a href="#tabSettings">Settings</a></li>
        <li><a href="#tabTable">Table</a></li>
        <li><a href="#tabPhotos">Photos</a></li>
    </ul>
    <div>
        <div id="tabSettings">
							Some settings
        </div>
        <div id="tabTable">
            <div id="cardTable">
            </div>
        </div>
        <div id="tabPhotos">
							Photos List
        </div>
    </div>
</div>